.bProjectTrack {
    background: rgba(155, 155, 155, .25);
    padding: 1vw;
    padding-bottom: 2vw;
    border-bottom: 1px solid rgba(155, 155, 155, .5);
}

.bProjectTitle {
    font-size: 2vw;
    line-height: 2;
    padding-bottom: 1vw;
    font-weight: 700;
}

.bProjectTitle__settings {
    display: none;
    margin-left: 3vw;
}
.bProjectTrack:hover .bProjectTitle__settings {
    display: inline-block;
}

.bProjectTitle__settingsButton {
    display: inline-block;
    cursor: pointer;
    position: relative;

    font-size: .7vw;
    color: #727272;
    text-transform: uppercase;

    color: #727272;
    border: 1px solid #b8b8b8;
    background-color: #f5f5f5;
    border-radius: 3px;

    top: -5px;
    margin-left: 10px;
    min-width: 150px;
    padding: .25vw;
    padding-top: .3vw;
    padding-left: .5vw;
    /* background: aquamarine; */
}

.bProjectTitle__settingsButton:hover {
    color: #353B3F;
    border-color: #353B3F;
    background: #fff;
}

.bCalendar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: stretch;
    min-width: 1280px;
    overflow: hidden;
}

.bWeek {
    flex-grow: 1;
    background: rgb(155, 155, 155);
    min-height: 100px;
    padding: .5vw;
    min-width: 205px;
    width: calc(100vw/6);
    border-radius: 4px;
}

.bWeek:not(:first-child) {
    margin-left: 1vw;
}

.bWeek--current {
    background: #F7878A!important;
}

.bWeek__header {
    font-size: 1vw;
    font-weight: 600;
}

/* Form */

.bAddCardForm {
    border-radius: 2px;
    margin-top: .5vw;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
    padding: .5vw;
    cursor: pointer;
    font-size: 1vw;
    line-height: 1.35;
}

.bAddCardForm__input {
    display: block;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  

    font-size: 1vw;
    line-height: 1.35;

    width: 100%;
    padding: .25rem ;
    margin: calc(1vw/1.2) 0;
    box-sizing: border-box;
    border-radius: 4px;   

    border: 1px solid rgba(0,0,0,.25);
}
.bAddCardForm__input:focus {
    border-color: #353B3F;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.15);
}

/* Card */

.bCard {
    border-radius: 2px;
    margin-top: .5vw;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
    padding: .5vw;
    cursor: pointer;
    font-size: 1vw;
    line-height: 1.35;
    transition: all .25s ease;
    box-shadow: none;
    zoom: 1;
}
.bCard:hover {
    transition: all .05s ease;
    /* transform: translateY(-3px) translateX(-3px); */
    box-shadow: 0 7px 14px rgba(50,50,93,.15), 0 3px 6px rgba(0,0,0,.015);
    background-color: rgba(255,255,255, .88);
}

.bCard--placeholder {
    border-radius: 3px;
    margin-top: .5vw;
    background: #FFF;
    cursor: pointer;
    opacity: .5;
}

.bCard__detail {
    font-size: calc(1vw/100*85);
    color: #939393;
    padding-top: calc(1vw/2);
}

@media only screen and (min-width: 1366px) {

    .bProjectTitle__settingsButton {
        /* min-width: 200px; */
    }
}