
/* C8CFEA */
.bProjectTrack--C8CFEA {
    background-color: rgba(200,207,234, .25);
    border-bottom: 1px solid rgba(200,207,234, .5);
}

.bWeek--C8CFEA {
    background-color: rgb(200,207,234);
}

/* FBE39A */
.bProjectTrack--FBE39A {
    background-color: rgba(251,227,154, .25);
    border-bottom: 1px solid rgba(251,227,154, 5);
}

.bWeek--FBE39A {
    background-color: rgb(251,227,154);
}